.main-footer {
  background: #000066;
}
a {
  text-decoration: none;
}
.container {
  max-width: 95%;
  width: 1280px;
  margin: 0 auto;
}
.pages ul li:hover::after{
  position: absolute; 
  left: 0; 
  bottom: 0; 
  width: 100%; 
  height: 1px; 
  border-bottom: 2px solid white; 
  content: ""
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
}
.image img {
  width: 140px;
}
.pages ul li {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 140%;
  list-style: none;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #f2f7f2;
  margin-bottom: 16px;
  width: fit-content;
  transition: 0.2s ease-in-out;

}
.pages {
  margin-top: -10px;
}
.address h5,
.contact h5 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 160%;
  color: #F2F7F2;
  opacity: 0.7;
  padding-bottom: 22px;
}
.image,
.address,
.pages {
  margin-right: 5px;
}
.address p,
.contact p {
  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 170%;
  max-width: 207px;
  color: #f2f7f2;
  margin-bottom: 0.2rem;
}
.contact p {
  word-break: break-all;
}
.policies {
  display: flex;
  justify-content: space-between;
  background: white;
  padding-top: 57px;
}
.trademark {
  display: flex;
}
.trademark-1 {
  width: 150px !important;
}
.trademark-2 {
  width: 112px !important;
}

.text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  max-width: 370px;
  color: #000066;
  opacity: 0.7;
  margin-top: 20px;
}
.terms {
  display: flex;
  justify-content: space-between;
  background: #000066;
  margin-top: 70px;
  padding-bottom: 32px;
}
.policy-link {
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
}
.copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
  opacity: 0.7;
}
.cdc-policy {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  color: #ffffff;
}
.liability {
  padding-top: 56px;
  padding-bottom: 40px;
}
.liability p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 160%;
  /* or 21px */

  display: flex;
  align-items: center;

  /* primary */

  color: #000066;
  opacity: 0.7;
}
@media screen and (max-width: 340px) {
  .footer,
  .policies,
  .liability,
  .terms {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    flex-flow: row wrap;
  }
  .image {
    order: -1;
    flex: 1 0 100%;
    margin-bottom: 40px;
  }
  .image img{
    margin: 0 auto;
  }
  .terms{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px){
  .terms{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .text {
    max-width: 100% !important;
  }
  .text p{
    max-width: 100% !important;
  }
  .terms{
flex-direction: column; 

  
  }
 
  .footer
   {
    flex-direction: column;
    
  }
  .policies,
  .liability{
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .image {
    margin-bottom: 40px;
  }
  .pages,
  .address,
  .contact {
    
    margin-bottom: 40px;

  }
  .trademark {
    margin: 0 auto;
    margin-top: 24px;
  }
 
  
  .terms .copyright {
    order: 3;
  }
  .cdc-policy,
  .policy-link {
    margin-bottom: 16px;
  }
  .copyright{
    padding-right: 10px !important;
  }
}
