.main-container {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.packages {
  background: #000066;
  padding-top: 120px;
  padding-bottom: 100px;
}
.packages h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 120%;
  max-width: 550px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  color: #f2f7f2;
}
.packages p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  color: #f2f7f2;
  opacity: 0.8;
}
.packages-child {
  border-radius: 8px;
  width: 292px;
  max-width: 100%;
  padding-top: 30px;
  background: #ffffff;
}
.packages-child h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  padding-left: 14px;
  text-transform: uppercase;
  color: #000066;
}
.packages-child p {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 160%;
  color: #000066;
  padding: 0 14px;
  text-align: left;
}
.packages-child ul {
  padding-left: 30px;
  height: 520px;
}
.packages-child ul li {
  font-weight: normal;
  font-size: 12px !important;
  line-height: 160%;
  color: #000066;
  list-style-image: url(../images/check.png);
  padding-right: 20px;
  text-transform: none;
}
.packages-child button {
  margin: 0 auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.packages-parent {
  display: flex;
  justify-content: space-between;
}
.price {
  margin-bottom: 0 !important;
}
sup {
  color: #000066 !important;
  opacity: 0.3 !important;
  padding: 0 14px;
}
.book {
  font-family: Inter;
  font-style: normal;
  font-weight: 600 !important;
  padding-top: 30px !important;
  font-size: 13px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 0 auto !important;
  text-align: center !important;
}
.text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal !important;
  font-size: 12px !important;
  line-height: 130% !important;
  color: #f2f7f2;
  text-align: left !important;
  opacity: 0.7 !important;
  margin-top: 8px !important;
  max-width: 290px !important;
  margin-bottom: 0px !important;
}
.video {
  background: #f2f7f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.points {
  background: white;
}
.video h1,
.points h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 56px;
  line-height: 120%;
  max-width: 690px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  color: #000066 !important;
}
.video p,
.points p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;
  color: #000066 !important;
  opacity: 0.8;
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-child {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333333%;
  flex-wrap: wrap;
  text-align: left;
  margin-top: 50px;
}
.features-child h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  color: #000066;
}
.features-child p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  max-width: 312px;
  text-align: left !important;
  margin-left: 0;
  margin-right: 0;
  color: #000066;
}

@media screen and (max-width: 1150px) {
  .packages-parent {
    flex-wrap: wrap;
  }
  .packages-child {
    margin-top: 50px;
  }
}
@media screen and (max-width: 940px) {
  .features-child {
    flex: 0 0 50% !important;
  }
}
@media screen and (max-width: 650px) {
  .packages-child {
    width: 100%;
  }
  .main-container {
    width: 90%;
  }
  .text {
    margin: unset !important;
    padding-top: 10px;
  }
  .features-child {
    flex: 0 0 100% !important;
    margin-top: 30px;
  }
  .features-child p {
    max-width: 400px;
  }
}
